<div class="main-view">
    <div class="results-panel">
        <span class="results-item"
              ng-click="changeVote($index)"
             ng-class="{
                'active' : $index === currentVoteIndex,
                'known' : bill.userVoted,
                'unknown' : (!bill.userVoted && $index !== currentVoteIndex),
                'for' : bill.userVoted === 'for',
                'against' : bill.userVoted === 'against'
             }"
             ng-repeat="bill in bills">
            <span>{{$index + 1}}</span>
        </span>
    </div>
    <div class="voting-panel" ng-show="!votingEnded">
        <h2 class="vote-headline">{{bills[currentVoteIndex].name}} ({{bills[currentVoteIndex]['popular name']}})</h2>
        <h3 class="vote">{{bills[currentVoteIndex].description}}</h3>
        <div class="button-set">
            <a class="vote-button for" ng-click="vote('for')"></a>
            <a class="vote-button against" ng-click="vote('against')"></a>
        </div>

    </div>
</div>
