/* app css stylesheet */

@font-face {
    font-family: 'Alef';
    src: url('Alef-bold.eot');
    src: url('Alef-bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Alef-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Alef';
    src: url('Alef-regular.eot');
    src: url('Alef-regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Alef-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    font-family: 'Alef';
    text-align: center;
    background-image: -webkit-linear-gradient(top, #edecec, #cecbc9);
    background-image: linear-gradient(top, #edecec, #cecbc9);
}

.main-view {
    text-align: center;
    width: 60%;
    margin: 10px auto;
}

.results-panel {
    width: 100%;
}

.voting-panel > .vote-headline {
    text-align: center;
}

.button-set {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vote-button {
    border: 2px solid rgba(0, 0, 0, .4);
    border-radius: 10px;
    margin: auto;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

.vote-button i {
    color: #000080;
}

.vote-button:hover {
    background-color: #bdb5b4;
}

.vote-button:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .4), inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
}

.vote-button:active:after {
    text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}

.results-item {
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    text-align: center;
    width: 1.6em;
    cursor: default;
    text-align: center;
    font-weight: bold;
    font-size: large;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    margin: 4px 4px;
}

.results-item.unknown {
    background-color: gray;
    opacity: 0.3;
    cursor: default;
}

.results-item.known {
    cursor: pointer;
}

.results-item.known.for {
    background-color: #83d244;

}

.results-item.known.against {
    background-color: #eb2f2f;
}

.results-item.active {
    background-color: gray;
    border: 1px double black;

}

.end-voting-button {
    margin-top: 6%;
    border: 2px solid gray;
    border-radius: 4px;
    display: inline-block;

}

.end-voting-button:hover {
    background-color: #bdb5b4;
    cursor: pointer;
}

.end-voting-button > *{
    padding-left: 18px;
    padding-right: 18px;
    margin: 0;
}
.end-voting-button:hover > i{
    color: navy;
}

.end-voting-button:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .4), inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
}

.end-voting-button:active:after {
    text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}