/* app css stylesheet */

@font-face {
    font-family: 'Alef';
    src: url('Alef-bold.eot');
    src: url('Alef-bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Alef-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Alef';
    src: url('Alef-regular.eot');
    src: url('Alef-regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Alef-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'Alef';
}

.main-view {
    display: flex;
    border: 1px solid darkred;
}

.voting-panel {
    align-self: flex-start;
    width: 70%;
    display: inline-block;
    border: 1px solid red;
}

.results-panel {
    width: 20%;
    display: inline-block;
    border: 1px solid pink;
}

.voting-panel {
    width: 50%;
}
.voting-panel > .vote-headline {
    text-align: center;
}

.button-set {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vote-button {
    text-align: center;
    border: 2px solid #000000;
    background-color: lightgray;
    width: 100px;
    height: 70px;
    margin: auto;
    font-size: x-large;
}

.vote-button:hover{
    background-color: darkgray;
    font-weight: bold;
}